body {
   font-family: "Myriad Web Pro";
   color: #777;
}

h1, h2, h3, h4, h5, h6 {
   text-transform: uppercase;
}

.header {
   background-color: #d8f8ff;
   margin-bottom: 20px;
}

.header img {
   padding: 15px;
}

.header .navigation li {
   display: inline;
   list-style-type: none;
   padding-left: 20px;
}

.navigation a {
   font-family: "Century Gothic";
   font-size: 1.1em;
   color: #999;
   text-transform: uppercase;
   text-decoration: none;
}

.navigation a:hover, .home-link:hover, .navigation .active {
   font-weight: bold;
   text-decoration: none;
}

.profile-stats div {
   padding-bottom: 20px;
}

.profile-gallery .row {
   padding-bottom: 20px;
}

.profile-key {
   text-transform: uppercase;
}

.profile-value {
   color: #bbb;
}

.home-spacer {
   padding-bottom: 500px;
}

.home-link {
   font-family: "Century Gothic";
   font-size: 3.5em;
   line-height: 1.2em;
   color: #999;
   text-transform: uppercase;
   text-decoration: none;
}

.comments {
   margin-top: 20px;
}
