<div class="row">
  <h3 class="span6">Comments</h3>
</div>

<% _.each( profile.comments, function( comment ) { %>

<div class="well">
  <div class="span1">
    <img src="<%= comment.avatar %>">
  </div>
  <div class="row">
    <div class="span2">
      <a href="#"><small><%= comment.name %></small></a>
    </div>
    <div class="span2">
      <small><%= moment( comment.post_date ).fromNow() %></small>
    </div>
    <div class="span4">
      <%= comment.comment %>
    </div>
  </div>
</div>

<% }); %>
