<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <%= header %>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <input id="serviceId" type="hidden" value="<%= service.id %>">

      <div class="control-group">
        <label class="control-label" for="serviceName">Name</label>
        <div class="controls">
          <input id="serviceName" type="text" value="<%= service.name %>">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="serviceDescription">Description</label>
        <div class="controls">
          <input id="serviceDescription" type="text" value="<%= service.description %>">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="serviceDuration">Duration</label>
        <div class="controls">
          <div class="input-append">
            <input id="serviceDuration" type="number" value="<%= service.duration %>">
            <span class="add-on"><small>minutes</small></span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="servicePrice">Duration</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">$</span>
            <input id="servicePrice" type="number" step="any" value="<%= service.price %>">
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-primary"><%= action %></a>
  </div>
</div>
