<div class="row">
  <div class="span6">

    <div class="row">
      <img class="span2" src="<%= profile.photo %>">
      <div class="span3 profile-stats">

        <% _.each( profile.stats, function( stat ) { %>
        <div>
          <span class="profile-key"><%= stat.name %>:</span><br>
          <span class="profile-value">
            <%= stat.value %>
          </span>
        </div>
        <% }); %>

      </div>
    </div>

    <div class="row">
      <h3 class="span6"><%= profile.type %></h3>

      <% _.each( profile.personal_info, function( personal ) { %>
        <div class="span6">
          <span class="profile-key"><%= personal.name %>:</span>
          <span class="profile-value"><%= personal.value %></span>
        </div>
      <% }); %>

    </div>

    <div class="row">
      <div class="comments">

      </div>
    </div>

  </div>

  <div class="span6 profile-gallery">

    <% _.each( profile.work, function( imageUrl, index ) {
         if ( 0 === index % 2 ) { %>
    <div class="row">
      <img class="span3" src="<%= imageUrl %>">
    <%   } else { %>
      <img class="span3" src="<%= imageUrl %>">
    </div>
    <%   }
       });
    %>

  </div>

</div>

<script type="text/javascript">
<% if ( "stylist" === profile.type ) { %>
  $(function() {
    app.loadTemplate( $('.comments'), 'comments', 'comments' );
  });
<% } %>
</script>
