<tr>
  <th></th>
  <th>Name</th>
  <th>Salon</th>
  <th>Location</th>
</tr>
<% _.each( stylists, function( stylist ) { %>
<tr>
  <td><img src="<%= stylist.photo %>" width="100"></td>
  <td><a href="#"><%= stylist.name %></a></td>
  <td><%= stylist.salon %></td>
  <td><%= stylist.location %></td>
</tr>
<% }); %>
