<tr data-id="<%= service.id %>">
  <td><%= service.name %></td>
  <td><%= service.description %></td>
  <td><%= service.duration %> <small>minutes</small></td>
  <td>$<%= service.price %></td>
  <td><a class="btn btn-small edit-service" href="#">Edit</a></td>
  <td><a class="btn btn-small delete-service" href="#">Delete</a></td>
</tr>
