<div class="row">
  <form class="span6 offset2 form-search">
    <div class="input-append">
      <input id="searchBox" class="span6 search-query" type="text" placeholder="Search by name">
      <a id="searchButton" class="btn" href="#"  type="submit">Search</a>
    </div>
  </form>
</div>

<div class="row">
  <div class="span12">
    <table id="searchResults" class="table table-striped">
    </table>
  </div>
</div>
