<div class="row">
  <div class="span3">
    <select id="selectedService">
      <option selected>Select a service</option>
      <option value="Trim">Trim</option>
      <option value="Color">Color</option>
      <option value="Perm">Perm</option>
    </select>
  </div>
</div>

<div id="calendar"></div>

<script type="text/javascript">
    $(function() {
      var calendar = $('#calendar');

      calendar.fullCalendar({
        editable: true,
        defaultView: 'agendaWeek',
        dayClick: function( day, allDay, jsEvent, view ) {
          calendar.fullCalendar('renderEvent', {
            title: $('#selectedService').val(),
            allDay: false,
            start: day,
            end: moment(day).add('hours', 1).toDate()
          });
        }
      });

    });
</script>
