<div class="row">
  <div  class="span12">
    <table id="services" class="table table-bordered table-striped">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Duration</th>
        <th>Price</th>
        <th></th>
       <th></th>
      </tr>
    </table>
  </div>
</div>

<!--addService Button-->
<div class="row">
  <div class="span9">
   <a class="btn btn-medium add-service" href="#">Add</a>
 </div>
</div>
